.container {
    background-color: #e1dbd7;
    padding: 10px 30px;
    border-radius: 3rem;
    box-shadow: 0 0 45px rgba(92, 92, 92, 0.6);
    width: 300px;
    padding: 3rem;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    display: block;
}


label {
    display: block;
    margin: 10px  0px 5px;


}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #575757;
    border-radius: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
