/* Устанавливаем минимальную высоту для body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота экрана */
  margin: 0; /* Убираем отступы */
}

/* Основное содержимое занимает оставшееся пространство */
main {
  flex-grow: 1; /* Занимает всё доступное пространство между шапкой и футером */
}

/* Футер фиксируется внизу */
footer {
  background-color: #092949; /* Темный фон */
  color: white; /* Белый текст */
  padding: 1rem 0; /* Отступы внутри футера */
}
